*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}
@font-face {
    font-family: 'KumbhSans-bold';
    src: url('./fonts/KumbhSans-Bold.woff2') format('woff2'),
        url('./fonts/KumbhSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./fonts/KumbhSans-Regular.woff2') format('woff2'),
        url('./fonts/KumbhSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    min-height: 100vh;
}
.card-box{

    max-width: 920px;
    width: 100%;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    display: flex;
    .box-svg{
        position: absolute;
        left: 0;
        bottom: 28%;
        z-index: 1;
        transform: translateX(64%);
    }
}
    .card-image{
        width: 371.69px;
        flex: 0 0 371.69px;
        position: relative;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-position: 100% 70%;
        background-repeat: no-repeat;
        overflow: hidden;
        


        svg{
            display: none;
        }
        .woman-desktop{
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: translateX(-12%);
        }
        .mobile-woman-img{
            display: none;
            z-index: 1;
            position: relative;
            top: 40px;
        }

    }
  .card-faq{
    flex-grow: 1;
  }
    .question-box{
        padding: 45px 111px 0;
        h2{
            font-size: 32px;
            line-height: 39.69px;
            color: #1E1F36;
            margin-bottom: 45px;
        }
        .question1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 18px;
            cursor: pointer;
            border-bottom: 1px solid #E8E8EA;
            padding-bottom: 15px;

            p{

                &:hover{
                    color: #F47B56;
                }


            }

            &.active{
                p{
                    color: #1E1F36;
                    font-weight: bold;
                }
              svg{
                transform: rotate(180deg);
                cursor: pointer;
              }

                &~.answers {
                    display: block;
                }
            }
        p{
            color: #4B4C5F;
            font-size: 14px;
            line-height: 17.36px;
            transition: 0.3s;
        }
        svg{
            transition: 0.5s;
        }
    }
        .answers{
            font-size: 12px;
            line-height: 18px;
            color:#787887;
            margin-top: 13px;
            display: none;
        }
        .border{
            width: 350px;
            height: 1px;
            background-color: #E8E8EA;
            margin-top: 18px;

        }
    }
    @media only screen and (max-width: 992px) {
          .card-container{
            flex-direction: column;
          
            width: 100%;
            .card-box{
                justify-content: center;
                align-items: center;
                flex-direction: column;
                max-width: 327px;
                width: 100%;
                height: 500px;
                margin: 113px 27px 0px;
                position: relative;
                .box-svg{
                    display: none;
                }
            }
            .card-image{
                width: 236.85px;
                flex: 0 0 236.85px;
                overflow: unset;
                background: none;
                position: absolute;
                top: -25%;
                transform: translateY(-27px);
                svg{
                    display: block;
                    transform: translateY(-28px);

                }
                .woman-desktop{
                display: none;


            }
          }
          .mobile-woman-img{
            display: block;
            width: 100%;
            object-fit: contain;
            height: 100%;


    
          }
          
    }
    .card-faq{
        width: 100%;
        margin-top: 36%;
        .question-box{
            padding: 0 15px 0;
            h2{
                text-align: center;
            }
            .question1{

            }
        }
    }
}